# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Ucll 2020-2021\Webontwikkeling 2\Labo's\Week 1\r0753230_clientserver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/out/
/.idea/
/web/WEB-INF/
r0753230_clientserver.iml
